   body {
   background-image: url(recipes/images/pexels-pixabay-235985.jpg);
   font-family: sans-serif;
}

.item {
    text-align: center;
    
}

.center{
    
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}
h1, h2{
    text-align: center;
}
hr{
    height:2px;
    background-color:brown;
    border-color: brown;
}
.main {

    width:80%;
    background-color: burlywood;
    margin-left:auto;
    margin-right:auto;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom:20px;
    max-width: auto;
}
h1{ 
    font-family: "Brush Script MT",sans-serif;
    font-size: 35px;
    
}
h2{
    font-size: 25px;
    color:blueviolet;
}
h4{
font-weight: 700;

}

li,p{
    padding-top: 15px;
    padding-right: 15px;
    text-align: justify;
}
#description{
    font-style: italic;
    text-align: center;
}
.toppad{
    padding-top:10%;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.button{
    width:160px;
    height: 70px;
    background-color: brown;
    border:none;
    cursor:pointer;
}
a {
    text-decoration:none;
    font-size: 16px;
    
    color:beige;
    
}
a:hover{
    color: brown;
    transition:0.3s ease;

}
button:hover{
    background-color: black;
    transition:0.3s ease;

}